h1, h2, h3, h4, h5, h6, p, span {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

p {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

sup {
  vertical-align: super;
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.dimmed {
  color: gray;
  font-size: 12px;
  line-height: 1.57;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.progress-container .progress-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.progress-container .progress-lists .step-list {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.progress-container .progress-lists .step-list .progress-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 128px;
  width: 150px;
}
.progress-container .progress-lists .step-list .progress-step.active {
  font-weight: bold;
}
.progress-container .progress-lists .description-list {
  min-height: 196px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.progress-container .progress-lists .description-list .progress-description {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.progress-container .progress-lists .description-list .progress-description.active {
  display: flex;
}
.progress-container .progress-lists .description-list .progress-description .progress-image {
  height: 196px;
  width: 196px;
  border-radius: 1vw;
}

.progress-container .line-container .line-wrapper {
  border-radius: 50vh;
  background-color: lightgray;
  overflow: hidden;
}
.progress-container .line-container .line-wrapper .progress-line {
  background: rgb(131, 58, 180);
  background: linear-gradient(60deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  transition: 500ms ease-in-out;
}
.progress-container .line-container .progress-points {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
}
.progress-container .line-container .progress-points .progress-point {
  height: 8px;
  width: 8px;
  margin: 2px;
  border: 8px solid white;
  border-radius: 50vh;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.progress-container .line-container .progress-points .progress-point.active {
  margin: 0;
  border: 10px solid white;
}
.progress-container .line-container .progress-points .progress-point.glow {
  filter: drop-shadow(0px 0px 4px #d31c47);
}

@media (min-width: 601px) {
  .progress-container {
    width: 1024px;
  }
  .progress-container .progress-lists {
    row-gap: 32px;
  }
  .progress-container .description-list .progress-description {
    column-gap: 24px;
  }
  .progress-container .line-container {
    position: relative;
    top: 118px;
    right: auto;
    bottom: auto;
    left: auto;
    display: flex;
  }
  .progress-container .line-container .line-wrapper {
    height: 8px;
    width: 884px;
    margin: 0 8px;
  }
  .progress-container .line-container .line-wrapper .progress-line {
    min-height: 100%;
    width: 6%;
  }
  .progress-container .line-container .progress-points {
    top: -10px;
  }
}
@media (max-width: 600px) {
  .progress-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: clamp(256px, 40vw, 512px);
    column-gap: 32px;
  }
  .progress-container .progress-lists .step-list .progress-step .progress-heading {
    display: none;
  }
  .progress-container .progress-lists .step-list .progress-step.active {
    position: absolute;
  }
  .progress-container .progress-lists .step-list .progress-step.active .progress-heading {
    display: block;
  }
  .progress-container .progress-lists .description-list .progress-description {
    flex-direction: column;
    row-gap: 24px;
  }
  .progress-container .line-container {
    display: flex;
    height: 738px;
  }
  .progress-container .line-container .line-wrapper {
    width: 8px;
    margin: 8px 0;
  }
  .progress-container .line-container .line-wrapper .progress-line {
    height: 6%;
    min-width: 100%;
  }
  .progress-container .line-container .progress-points {
    flex-direction: column;
    left: -10px;
  }
}

/*# sourceMappingURL=style.css.map */
